Dataset: https://www.kaggle.com/mlg-ulb/creditcardfraud

Importing Dependencies

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data Collection and pre-processing

In [3]:
creditcard_dataset = pd.read_csv('/content/creditcard.csv')

In [4]:
creditcard_dataset.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [5]:
creditcard_dataset.tail()

            Time        V1        V2  ...       V28  Amount  Class
211985  138661.0  0.126593  1.091750  ... -0.040075   54.00    0.0
211986  138662.0  2.019604  0.016811  ... -0.041810    0.89    0.0
211987  138663.0 -0.980098  0.193904  ... -0.058237    6.70    0.0
211988  138663.0 -0.045674  0.094610  ...  0.057997   79.95    0.0
211989  138664.0 -0.154159 -0.169538  ...       NaN     NaN    NaN

[5 rows x 31 columns]

In [6]:
creditcard_dataset.shape

(211990, 31)

In [7]:
creditcard_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211990 entries, 0 to 211989
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    211990 non-null  float64
 1   V1      211990 non-null  float64
 2   V2      211990 non-null  float64
 3   V3      211990 non-null  float64
 4   V4      211990 non-null  float64
 5   V5      211990 non-null  float64
 6   V6      211990 non-null  float64
 7   V7      211990 non-null  float64
 8   V8      211990 non-null  float64
 9   V9      211990 non-null  float64
 10  V10     211989 non-null  float64
 11  V11     211989 non-null  float64
 12  V12     211989 non-null  float64
 13  V13     211989 non-null  float64
 14  V14     211989 non-null  float64
 15  V15     211989 non-null  float64
 16  V16     211989 non-null  float64
 17  V17     211989 non-null  float64
 18  V18     211989 non-null  float64
 19  V19     211989 non-null  float64
 20  V20     211989 non-null  float64
 21  V21     211989 non-null  float64
 22  V22     211989 non-null  float64
 23  V23     211989 non-null  float64
 24  V24     211989 non-null  float64
 25  V25     211989 non-null  float64
 26  V26     211989 non-null  float64
 27  V27     211989 non-null  float64
 28  V28     211989 non-null  float64
 29  Amount  211989 non-null  float64
 30  Class   211989 non-null  float64
dtypes: float64(31)
memory usage: 50.1 MB

In [8]:
creditcard_dataset.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [10]:
# dropping the missing values
credictcard_dataset = creditcard_dataset.dropna()

In [11]:
credictcard_dataset.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [12]:
# distribution of legit transactions and fraudulent transactions
creditcard_dataset['Class'].value_counts()

0.0    211595
1.0       394
Name: Class, dtype: int64

The dataset is highly unbalance

0.0 --> Normal Transaction

1.0 --> Fraudulent Transaction

In [13]:
# separating the data for analysis
legit = creditcard_dataset[creditcard_dataset.Class == 0]
fraud = creditcard_dataset[creditcard_dataset.Class == 1]

In [14]:
print(legit.shape)
print(fraud.shape)

(211595, 31)
(394, 31)

In [15]:
# statistical measures of data
legit.Amount.describe()

count    211595.000000
mean         90.042226
std         248.388744
min           0.000000
25%           6.000000
50%          23.080000
75%          79.600000
max       19656.530000
Name: Amount, dtype: float64

In [16]:
fraud.Amount.describe()

count     394.000000
mean      123.172970
std       256.841767
min         0.000000
25%         1.000000
50%        13.385000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [17]:
# Compare the values for both transaction
creditcard_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0.0    74359.763841 -0.072238 -0.011782  ...  0.000488  0.001359   90.042226
1.0    62970.449239 -5.564086  4.145138  ...  0.182273  0.060390  123.172970

[2 rows x 30 columns]

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and fraudulelnt transactions

Number of Fraudulent transactions --> 394

In [18]:
legit_sample = legit.sample(n=394)

In [20]:
# Concatenating two Datframes
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [21]:
new_dataset.head()

            Time        V1        V2  ...       V28  Amount  Class
18952    29901.0 -0.709172  0.676096  ... -0.239317   14.32    0.0
128847   78860.0  1.285139 -1.218604  ...  0.005973   22.64    0.0
54207    46332.0 -3.379971 -1.950236  ... -0.081410  142.98    0.0
46755    42916.0  1.190450 -0.104255  ...  0.020933    1.00    0.0
208373  137090.0  2.053764 -0.237436  ... -0.028802    6.51    0.0

[5 rows x 31 columns]

In [22]:
new_dataset.shape

(788, 31)

In [23]:
new_dataset['Class'].value_counts()

1.0    394
0.0    394
Name: Class, dtype: int64

In [24]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0.0    74170.799492  0.174967 -0.035303  ... -0.039687  0.009776   76.434112
1.0    62970.449239 -5.564086  4.145138  ...  0.182273  0.060390  123.172970

[2 rows x 30 columns]

Spliting the data into features and target

In [25]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

print(X)
print(Y)

            Time        V1        V2  ...       V27       V28  Amount
18952    29901.0 -0.709172  0.676096  ... -0.387201 -0.239317   14.32
128847   78860.0  1.285139 -1.218604  ... -0.004381  0.005973   22.64
54207    46332.0 -3.379971 -1.950236  ... -0.614642 -0.081410  142.98
46755    42916.0  1.190450 -0.104255  ...  0.077336  0.020933    1.00
208373  137090.0  2.053764 -0.237436  ...  0.032705 -0.028802    6.51
...          ...       ...       ...  ...       ...       ...     ...
203700  134928.0  1.204934  3.238070  ...  0.491828  0.340847    0.00
204064  135095.0  0.232512  0.938944  ...  0.180859 -0.029315  345.00
204079  135102.0  1.862102 -0.124052  ... -0.019579  0.006155  108.51
204503  135314.0 -3.158990  1.765452  ... -0.235477  0.018129   84.28
208651  137211.0  0.630579  1.183631  ...  0.853792  0.356503   39.45

[788 rows x 30 columns]
18952     0.0
128847    0.0
54207     0.0
46755     0.0
208373    0.0
         ...
203700    1.0
204064    1.0
204079    1.0
204503    1.0
208651    1.0
Name: Class, Length: 788, dtype: float64

In [27]:
# splitting dataset into Training & Testing data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [28]:
print(X.shape, X_train.shape, X_test.shape)

(788, 30) (630, 30) (158, 30)

Model Training : Logistic Regression

In [29]:
model = LogisticRegression()

In [30]:
model.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Model Evaluation

In [32]:
# accuracy on training data
train_prediction = model.predict(X_train)
train_accuracy = accuracy_score(train_prediction, Y_train)

print('Accuracy on training data: ', train_accuracy)

Accuracy on training data:  0.9476190476190476

In [33]:
# # accuracy on testing data
test_prediction = model.predict(X_test)
test_accuracy = accuracy_score(test_prediction, Y_test)

print('Accuracy on testing data: ', test_accuracy)

Accuracy on testing data:  0.930379746835443